.nav-container {
    width: 100vw;
    background-color: #447BE7;
    height: 80px;
    display: flex;
    position: fixed;
}

.header {
    position: relative;
    min-height: 80px;
    z-index: 999;
    width: 100vw;
}

.logo {
    width: 100px;
    height: 45px;
    margin-left: 20px;
}

.img-parent {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-text {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}

.nav-btn-parent {
    display: flex;
    align-items: flex-end;
    padding-right: 20px;
    padding-bottom: 9px;
}

.nav-btn {
    border: none;
    background-color: white;
    color: #447BE7;
    border-radius: 30px;
    width: 100px;
    height: 27px;
}

.nav-btn:nth-child(2) {
    margin-left: 10px;
}

.nav-btn:hover {
    opacity: 0.93;
    cursor: pointer;
}

.hamburger-icon {
    margin-left: 1rem;
    cursor: pointer;
    display: none;
}

@media (min-width:0px) and (max-width:1024px) {
    .hamburger-icon {
        display: block;
    }
}