.basic-heading {
    color: #447BE7;
}

.grid-parent, .grid-parent-action {
    display: flex;
    justify-content: center;
}

.reg-form-parent {
    width: 50%;
}

.grid-parent-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-parent-reg {
    width: 600px;
}

.action-parent-reg .MuiFormControlLabel-label {
    color: #447BE7;
    font-size: 15px;
}

.action-parent-reg svg {
    width: .8em;
}

.reg-btn-parent {
    width: 200px;
}

.reg-btn-parent .MuiButton-contained {
    width: 100%;
    border-radius: 0px;
}

.bill-chk {
    /* text-align: center; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-fields {
    width: 100% !important;
}

@media (min-width:0px) and (max-width:767px) {
    .reg-form-parent {
        width: 95%;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .reg-form-parent {
        width: 80%;
    }
}