.menu-heading {
    text-align: center;
}

.menu-parent {
    display: flex;
}

.menu-text {
    font-size: x-large;
    color: #447BE7;
}

.menu-cards {
    margin-top: 1rem;
}

.menu-img {
    width: 300px;
}