.login-fields-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.action-parent {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.option-parent {
    display: flex;
    margin-top: 5px;
}

.Login-heading {
    text-align: center;
    color: #447BE7;
    text-transform: uppercase;
    letter-spacing: 2px;
}