.forget-fields-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.action-parent-forget {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.forget-heading {
    text-align: center;
    color: #447BE7;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media only screen and (max-width: 600px) {
    .forget-heading {
        font-size: large;
    }
}

@media only screen and (min-width: 600px) {
    .forget-heading {
        font-size: large;
    }
}